<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kingsland.PiFaceSharp.Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Kingsland.PiFaceSharp.Server.Properties.Settings>
            <setting name="ServerAddress" serializeAs="String">
                <value>192.168.1.19</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>43596</value>
            </setting>
            <setting name="DeviceType" serializeAs="String">
                <value>Emulated</value>
            </setting>
        </Kingsland.PiFaceSharp.Server.Properties.Settings>
    </applicationSettings>
</configuration>